<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBconnectionString"
         connectionString="Server=LAPTOP-ASPIRE5\SQLEXPRESS;
                           Database=T4DDBMonitoring;
                           Trusted_Connection=True;
                           TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Yes/No (must be exactly Yes or No; case-insensitive) -->
    <add key="freezeScreen" value="No" />
    <add key="DrawCharts" value="No" />
    <add key="computedRdT" value="Yes" />
    <add key="computeATScallibration" value="Yes" />
    <add key="ManualSurvey" value="No" />
    <add key="debug" value="No" />

    <!-- Software license expires 20260330 -->
    <add key="LicenseCode" value="HgkKCAoOaGxqaWlq" />
    <!--T4D api license expires 20260630 -->
    <add key = "T4Dapi_LicenseCode" value = "Dm4eGwoTaGxqbGlq" />

    <!-- Client / Project -->
    <add key="Client" value="Techsol" />
    <add key="ProjectTitle" value="Lawley Viaduct Set 2" />
    <add key="ContractTitle" value="Lawley Viaduct Set 2" />
    <add key="ReportType" value="Structural Displacement" />

    <!-- Time blocks Historic, Manual, Schedule-->
    <add key="TimeBlockType" value="Manual" />
    <add key="BlockSizeHrs" value="12" />
    <add key="manualBlockStart" value="'2023-08-01 00:00'" />
    <add key="manualBlockEnd" value="'2023-08-01 23:59'" />

    <!-- Triggers -->
    <add key="DataJumpTriggerLevel" value="0.100" />

    <!-- Excel workbook settings -->
    <add key="ExcelPath" value="C:\__SoftwareTest\StructuralDisplacementReport\" />
    <add key="ExcelFile" value="SDR_Master_20260223.xlsx" />
    <add key="FirstDataRow" value="2" />
    <add key="FirstDataCol" value="6" />
    <add key="FirstOutputRow" value="7" />

    <!-- Worksheets -->
    <add key="SurveyWorksheet" value="Survey" />
    <add key="ReferenceWorksheet" value="Reference" />
    <add key="HistoricCoordinatesWorksheet" value="Historic coordinates" />
    <add key="HistoricDeltasWorksheet" value="Historic deltas" />
    <add key="HistoricDRWorksheet" value="Historic dR" />
    <add key="HistoricDTWorksheet" value="Historic dT" />
    <add key="HistoricDHWorksheet" value="Historic dH" />
    <add key="HistoricDistanceWorksheet" value="Historic Dist" />
    <add key="LatestCoordinatesWorksheet" value="Latest Coordinates" />
    <add key="LatestPolarDisplacementsWorksheet" value="Latest Polar Displacements" />
    <add key="CalibrationWorksheet" value="Calibration" />
    
    
    <!-- Reference Line Terminals -->
    <!-- Ya,Xa,Yb,Xb Line parallel to the structure +R away from line, +T away from EaNa -->
    <add key="ReferenceLineTerminalsEaNaEbNb" value="533799.5454,775074.0802,533814.7084,775051.9322" />

    <!-- Historic settings -->
    <add key="NoOfEpochsHistoricData" value="5000" />
    <add key="NoOfTimeBlocksPerReport" value="5000" />

    <!-- ATS details -->
    <add key="ATSdetails1" value="ATS02,11,12,13,m11,BS02,BS03,BS04" />
   
    <!-- EPPlus -->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />
  </appSettings>
</configuration>